.body{
    background-color: antiquewhite;
}
.example{
    width: 99%;
    background-color: black;
    color: white;
    position: fixed;
    top:0;
}
.one{
    width: 49%;
    float:left;
    padding-left: 10px;
}
.two{
    width: 49%;
    float: left;
    margin-top: 1.5%;
    text-align:right;
}
.two a{
    padding-left: 10px;
    text-decoration: none;
    color: white;
}
.one a{
    text-decoration: none;
    color: white;
}
.profile_form{
    width: 30%;
    height:fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    border-radius:10px;
}
.login{
    margin-top: 15%;
}
.profile_form form{
    margin-top: 20%;
    text-align: center;
    padding : 2%;
}
.login_table{
    width:100%;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
}
.login_table td{
    padding-bottom: 3%;
}
.login_table input{
    padding: 5px;
    border-radius: 5px;
}
.credentials{
    width:30%;
    text-align: right;
    color: white;
}
.field{
    width:50%;
    text-align:left;
}
.submit{
    width:70%;
    font-weight: bolder;
    font-size: medium;
    text-align: center;
}
#sub-but{
    text-align: center;
}
.alert{
    color:red;
}
.success{
    color: green;
}
.footer-div{
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 99%;
    color: white;
    text-align: center;
}
#register-here{
    color: black;
    text-decoration: none;
    font-size:medium;
    font-weight: bolder;
}
#register-button{
    margin-top:10px;
}
.admin{
    width:99%;
    position: absolute;
    bottom: 100px;
    text-align: center;
}
.adm{
    border:none;
    width: fit-content;
}
#adm-form{
   width: fit-content;
}
.adm-input{
    border: none;
    width: 50%;
}
.td-inp{
    width: 50%;
    text-align: left;
}
#adm-form{
    padding-top:10%;
}
@media screen {
    
}